name: pyvista-doc-auto-update
on:
  schedule:
    - cron:  '0 0 * * *'
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  script:
    runs-on: ubuntu-latest
    steps:
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Get Job URL
      uses: Tiryoh/gha-jobid-action@v0
      id: jobs
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        job_name: script
    - name: Checkout with submodule
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        repository: pyvista/pyvista-tutorial-translations
        submodules: true
        path: pyvista-tutorial-translations
    - name: Checkout other repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: 'gh-pages'
        path: pyvista-tutorial-ja
    - name: Setup SSH
      uses: MrSquaare/ssh-setup-action@v1
      with:
        host: github.com
        private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: install
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends python3-setuptools
        sudo apt-get install -y --no-install-recommends libgl1-mesa-dev xvfb ffmpeg
        sudo apt-get install -y --no-install-recommends python3-venv
        sudo apt-get install -y --no-install-recommends libgl1-mesa-glx
        python3 -m venv /home/runner/work/.venv
        source /home/runner/work/.venv/bin/activate
        pip install -U pip setuptools wheel
        cd pyvista-tutorial-translations
        pip install -r ./requirements.txt
        cd ../
        deactivate
    - name: build
      env:
        JOB_ID: ${{ steps.jobs.outputs.job_id }}
        HTML_URL: ${{ steps.jobs.outputs.html_url }}
      run: |
        cd pyvista-tutorial-translations
        source /home/runner/work/.venv/bin/activate
        set -x
        export DISPLAY=:99.0
        export PYVISTA_OFF_SCREEN=True
        Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
        sleep 3
        set +x
        rm ./locale/tutorial/*/*.py
        mv ./locale/tutorial ./pyvista-tutorial/docs
        git submodule update --remote
        (cd pyvista-tutorial; make -C docs html SPHINXOPTS="-D language=ja -D locale_dirs='../../locale'")
        deactivate
        cd ../
    - name: commit
      env:
        JOB_ID: ${{ steps.jobs.outputs.job_id }}
        HTML_URL: ${{ steps.jobs.outputs.html_url }}
      run: |
        cd pyvista-tutorial-ja
        git checkout gh-pages
        git rm -rf *
        mv ../pyvista-tutorial-translations/pyvista-tutorial/docs/_build/html/* .
        touch .nojekyll
        git config --global user.email $GITHUB_REPOSITORY
        git config --global user.name $GITHUB_REPOSITORY
        git add .
        git commit --allow-empty -m "[ci skip] $JOB_ID
        $HTML_URL"
        git push origin gh-pages
        cd ../
